   h1{
    color: rgba(255, 0, 0,1.0);
    
   
}
img{
    border: orange 5px groove; 
}
b{
    color: rgb(0, 0, 0);

}
p{
    color: goldenrod;
    
}
body{
    background: url(https://wallpapercave.com/wp/wp4128423.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}

#opinion{
    color: rgb(38, 0, 255);
}


s{
    https://wallpapercave.com/wp/wp4128423.jpg
}